@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EbsHunmin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}

html,
body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #f8f9fa;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
